<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
                <!-- I ahve a issue with "Chevron" icon here -->
                <svg class="icon icon--white collapsible_chevron"> 
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
    </header>
    <div class="collapsible__content ">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, cumque?
    </div>
</div>
<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
                <!-- I ahve a issue with "Chevron" icon here -->
                <svg class="icon icon--white collapsible_chevron"> 
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
    </header>
    <div class="collapsible__content ">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, cumque?
    </div>
</div>
