<footer class="block block--dark footer">
    <div class="container grid footer__sections">
        <section class="collapsible collapsible--expanded footer__section">
            <div class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
                        <!-- I ahve a issue with "Chevron" icon here -->
                        <svg class="icon icon--white collapsible_chevron"> 
                            <use xlink:href="images/sprite.svg#menu"></use>
                        </svg>
            </div>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#">Website Hostine</a></li>
                    <li><a href="#">Free Automated</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Migrations</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <div class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Company</h2>
                        <!-- I ahve a issue with "Chevron" icon here -->
                        <svg class="icon icon--white collapsible_chevron"> 
                            <use xlink:href="images/sprite.svg#menu"></use>
                        </svg>
            </div>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Affiliates</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <div class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
                        <!-- I ahve a issue with "Chevron" icon here -->
                        <svg class="icon icon--white collapsible_chevron"> 
                            <use xlink:href="images/sprite.svg#menu"></use>
                        </svg>
            </div>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Knowledge Base</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <div class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
                        <!-- I ahve a issue with "Chevron" icon here -->
                        <svg class="icon icon--white collapsible_chevron"> 
                            <use xlink:href="images/sprite.svg#menu"></use>
                        </svg>
            </div>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#">Domain Checker</a></li>
                    <li><a href="#">Domain Transfer</a></li>
                    <li><a href="#">Free Domain</a></li>
                </ul>
            </div>
        </section>
        <section class="footer__brand">
            <img src="images/logo.svg" alt="">
            <p class="footer__copyright">Copyright 2020 Meet Shah</p>
        </section>
    </div>
</footer>