<section class="block block--dark block--skewed-left hero">
    <div class="vontainer grid grid--col-2">
        <header class="block__header hero__content">
            <h1 class="block__heading">Cloud Hosting for Pros</h1>
            <p class="hero__tagline">Deploy your websites in less then 60 seconds.</p>
            <a href="#" class="btn btn--accent btn--stretched">Get Started</a>
        </header>
        <picture>
            <source type="image/webp" srcset="Images/banner.webp 1x, Images/banner@2x.webp 2x">
            <source type="image/png" srcset="Images/banner.png 1x, Images/banner@2x.png  2x">
            <img src="Images/banner.png" alt="" class="hero__image">
        </picture>
    </div>
</section>