<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et vel vero error tenetur magnam consectetur doloribus culpa ipsum molestias fugiat inventore voluptatum eos quam rem sequi voluptatibus laudantium quisquam vitae quod, delectus, qui dolor labore. Illum vel explicabo sit ratione quidem veritatis vero quam, atque nam quo, suscipit deserunt architecto.</p>
    <footer>
        <div class="media">
            <div class="media_image">
                <span>
                    <svg class="icon icon--primary quote__line">
                        <use xlink:href="images/sprite.svg#line"></use>
                    </svg>
                </span> 
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">Meet Shah</h3>
                <p class="quote__organization">CEO of ShreyRaj's Group of Company</p>
            </div>
        </div>        
    </footer>
</blockquote>