<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2>User-friendly Control Panel</h2>
    </header>
    <div class="container grid grid--col-2">
        <picture>
            <sourcetype="image/webp" srcset="Images/ipad.webp 1x, Images/ipad@2x.webp 2x" />
            <sourcetype="image/png" srcset="Images/ipad.png 1x, Images/ipad@2x.png 2x" />
            <img class="block-showcase__image" src="Images/ipad.png" alt="">
        </picture>
        <ul class="list">
            <div class="media">
                <div class="media_image">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#menu"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title">Easy start and Managed Updates</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam illo earum id pariatur dicta?</p>
                </div>
            </div>
            </li>
            <li>
                <div class="media">
                    <div class="media_image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#growth"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Staging, GIT & WP-CLI</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam illo earum id pariatur dicta?</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media_image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#wordpress"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Dynamic Caching & More</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam illo earum id pariatur dicta?</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section> 